/* global color variables */
:root {
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(212, 45%, 89%);
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);
}

/* reset styles */
*,
::before,
::after {
  margin: unset;
  padding: unset;
  box-sizing: border-box;
}
html {
  font-size: 100%;
}
body {
  font-size: 0.938rem;
  font-family: "Outfit", sans-serif;
  background-color: var(--light-gray);
}
main {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
#card-section {
  width: 25rem;
  height: auto;
  padding: 1rem;
  background-color: var(--white);
  border-radius: 0.625rem;
  box-shadow: 6px 10px 15px -16px hsl(218, 44%, 22%);
}
.card-header img {
  width: 100%;
  border-radius: 0.625rem;
}
.card-body {
  margin-top: 0;
  padding-bottom: 1.875rem;
  text-align: center;
}
h1 {
  font-size: 1.625rem;
  font-weight: 700;
}
.card-body p {
  margin-top: 1.5rem;
  color: var(--grayish-blue);
}

@media screen and (max-width: 25.063rem) {
  #card-section {
    margin: 1rem 1rem;
  }
}

/* attribution */
.attribution {
  font-size: 14px;
  text-align: center;
  margin-top: 2rem;
}
.attribution a {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
}
